/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.foodtruck-list {
  color: #319f32;
}

.homepage {

}

.navbar{
  position: relative;
}

/* You could use :after - it doesn't really matter */


.dropdown{

  color: black;
}

.main-logo{
  width: 200px;
  margin-top: -20px;
}

.znavbar-log-out-button{
  margin-left: 40px
}

.navbar{
  height: 190px;
  background-image: url("http://3.bp.blogspot.com/-F7TKYWYeSD8/T8jLzblcx8I/AAAAAAAADXM/H4FaAv-W_TA/s1600/YellowStripedPaper.png");
  border: #FFC800;
  border-width: 5px;
  border-color: #FFC800;
  border-bottom-style: solid 2px;
  margin: 5px;
  margin-top: 10px;
  padding-top: 20px;
}

.navbar-nav {

}

.navbar-profile-name{
  background: white;
  color: black;

}

.navbar-header {
  margin-top: -50px;
}

.navbar-toggle{
  margin-top: 50px;
}

.znavbar-profile-name{
  margin-top: 15px;
}

.nav-bar-links {
  background-color:white;
  border-radius: 2px;
  margin: 0px 5px;
  cursor: pointer;
  color: black;
  border-style: solid;
  border-width: 2px;
  border-color: #FFA800;

  font-weight: 900;
}

.sign-up-page{
  background-image: ""
}

sign-in-submit-button{
  margin-bottom: 10px;
}
