// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.select-categories-label{
  display: inline-block;
}

.category-item {
  font-size: 40px;
  margin: 20px;
  padding: 2px 20px;
  display: inline-block;
  background-color: black;
  color: red;
  font-family: "SignPainter-HouseScript", serif;
  font-weight: 900;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
}

.category-index{
  width: 100%;
  text-align: center;
}

.category-index:after {
  content: "";
  clear: both;
  display: block;
}



// .sr-only {
//     position: absolute;
//     width: 1px;
//     height: 1px;
//     padding: 0;
//     margin: -1px;
//     overflow: hidden;
//     clip: rect(0,0,0,0);
//     border: 0;
// }
//
// .progress-bar {
//     float: left;
//     width: 0;
//     height: 100%;
//     font-size: 12px;
//     line-height: 20px;
//     color: #fff;
//     text-align: center;
//     background-color: #337ab7;
//     -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
//     box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
//     -webkit-transition: width .6s ease;
//     -o-transition: width .6s ease;
//     transition: width .6s ease;
//     background-repeat: repeat-x;
// }
//
// element.style {
//     width: 60%;
// }
//
// .progress-bar-striped {
//
//     background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
// }
