// Place all the styles related to the Donations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//
// <div class="progress" class="active">
//   <div class="progress-bar progress-bar-striped active" role="progressbar"
//   aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
//     40%
//   </div>
// </div>

.donation-form-amount{
  margin: 5px 0px 0px;
  width: 230px;
  font-size: 15px;
}

.donation-form-button{
  font-size: 20px;
  width: 230px;
  font-family: "Gill Sans", serif;
  font-weight: bold;
  margin: 20px 0px 10px;
  color: white;
  background-color: indianred;
}

.donation-confirmation-item{
  font-size: 25px;
  color: rgb(174, 193, 44);
  font-family: "Gill Sans", serif;
  font-weight: bold;
}
