// Place all the styles related to the Foodtrucks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.foodtruck-item{
  width: 350px;
  height: 340px;
  float: left;
  border-width: 10px;
  border-color: red;
  padding: 10px;
  border-style: groove;
  margin: 20px;
  cursor: pointer;
}

.foodtruck-index{
  clear: both;
}

.foodtruck-index:after {
  content: "";
  clear: both;
  display: block;
}

.foodtruck-item-image{
  width: 100%;
}

.foodtruck-detail{
  padding: 30px;
}

.foodtruck-detail-image{
  padding: 30px;
}

.foodtruck-detail-title{
  width: 50%;
  margin: 0 auto;
}

.foodtruck-detail-by{

}

.foodtruck-detail-by-username{
  font-style: italic;
}
